html {
    background-color: #222;
}

body {
    margin: 0px;
}

.header {
    background-color: #111;
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
}

#logo {
    width: 70px;
    margin: 0px 0px 0px 20px;
}

.content {
    margin-left: 200px;
    margin-top: 25px;
    width: 1500px;
    height: 410px;
    box-shadow: 0 10px 30px #000;
    border-radius: 12px;
}

.content2 {
    width: 320px;
    margin-left: 30px;
    transition: ease 0.2s;
    box-shadow: 0 10px 20px #000;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.content3 {
    width: 320px;
    margin-left: 35px;
    transition: ease 0.2s;
    box-shadow: 0 10px 20px #000;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.subtitles {
    font-size: 22px;
    font-family: 'Mukta', sans-serif;
    color: azure;
    margin-left: 260px;
    margin-bottom: 10px;
}

#subtitle {
    margin-top: 30px;
    margin-bottom: 0px;
}

.box {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 12%;
    margin-bottom: 40px;
    margin-top: 0px;
    overflow: auto;
    margin-right: 10%;
}

.content2:hover {
    transform: scale(1.03);
}

.content3:hover {
    transform: scale(1.03);
}

.ahead {
    margin-left: 35px;
    margin-right: 15px;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    color: azure;
}

.box2 {
    margin-top: 0px;
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

#subtitle2 {
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 146px;
}

.box2::-webkit-scrollbar {
    height: 8px;
}

.box2::-webkit-scrollbar-thumb {
    background-color: azure;
    border-radius: 5px;
}

.box::-webkit-scrollbar {
    height: 8px;
}

.box::-webkit-scrollbar-thumb {
    background-color: azure;
    border-radius: 5px;
}

#first {
    margin-left: 18px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: azure;
    border-radius: 5px;
}

#last {
    margin-right: 18px
}    
    
#link-inicio {
    text-decoration: none;
}

footer {
    background-color: #111;
    margin: 0px;
    padding: 0px;
}

#footer {
    margin: 0px;
    font-family: 'Mukta', sans-serif;
    color: azure;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
}

@media only screen and ( max-width: 480px) {
    #logo {
        width: 60px;
        margin-top: 5px;
        margin-left: 15px;
    }

    .ahead {
        font-size: 18px;
        margin-top: 20px;
        margin-left: 18px;
    }

    .content {
        width: 370px;
        height: 150px;
        margin-left: 20px;
        box-shadow: 0 5px 20px #000;
    }

    .content2 {
        width: 180px;
        margin-right: 0px;
        margin-left: 15px;
        margin-top: 5px;
        box-shadow: 0 5px 15px #000;
    }

    .box {
        margin-left: 5px;
        margin-right: 16px;
        margin-bottom: 25px;
    }

    #first, #first2 {
        margin-left: 12px;
    }

    #subtitle {
        margin-left: 22px;
        font-size: 18px;
        margin-bottom: 0px;
    }

    .box::-webkit-scrollbar {
        height: 5px;
    }

    .box2::-webkit-scrollbar {
        height: 5px;
    }

    .content3 {
        width: 180px;
        margin-right: 0px;
        margin-left: 15px;
        margin-top: 5px;
        box-shadow: 0 5px 15px #000;
    }

    .box2 {
        margin-left: 5px;
        margin-right: 16px;
    }

    #subtitle2 {
        margin-left: 22px;
        font-size: 18px;
        margin-bottom: 0px;
    }

    footer {
        margin: 0px;
        padding: 0px;
    }
}